@font-face{
  font-family: 'OpenSans-Regular';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/OpenSans-Regular.woff') format('woff');
}
@font-face{
  font-family: 'OpenSans-SemiBold';
  font-weight: 700;
  font-style: normal;
  src: url('../fonts/OpenSans-SemiBold.woff') format('woff');
}